[Desktop Entry]
Type=Application
Version=1.5
Name=Mariner
GenericName=File Manager
Comment=Browse and manage your files
Keywords=files;file manager;explorer;browser;folders;directory;nautilus;
Exec=mariner %U
Icon=io.github.romgrk.Mariner
Terminal=false
StartupNotify=true
StartupWMClass=io.github.romgrk.Mariner
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;
